﻿@model MVCApp.Data.Models.AspNetUsers

@{
    ViewBag.Title = "Index";
}

<h2>Manage Users</h2>

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome <strong>@ViewBag.Name</strong>. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role"@*, new { id = Model.Id}*@)</li>
    </h3>

}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) .We will add user module soon </h2>
} 