﻿@model MVCApp.Data.Models.MissingPeoples

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">First name: <b>@Model.FirstName</b> , Last name: <b> @Model.LastName</b> </h3>
    </div>
    
    <div class="panel-body">
        <th>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </th>
    </div>
</div>
