﻿@*@model IEnumerable<MVCApp.Data.Models.MissingPeoples>*@
@model PagedList.IPagedList<MVCApp.Data.Models.MissingPeoples>
@using PagedList.Mvc;
@*<link href="~/MissingPeople/Index/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "List of missing people";
}

<h2>List of missing people</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "MissingPeople", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchStr", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<div class="panel-heading">
    <tr>
            Sort by: 
        <th>
            @Html.ActionLink("First name", "Index", new { sortOrder = ViewBag.NSortParm })
        </th>
        <th>
            @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LSortParm })
        </th>
    </tr>
</div>

@foreach (var item in Model)
{
    @Html.Partial("_MissingPeopleSummary", item)
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

