﻿@model MVCApp.Data.Models.UserData

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Name: <b>@Model.UserName</b>, E-mail: <b>@Model.Email</b>, Role: <b>@Model.UserRole</b> </h3>
    </div>
    
    <div class="panel-body">
        <th>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
        </th>
    </div>
</div>
