﻿@*@model IEnumerable<MVCApp.Data.Models.MissingPeoples>*@
@model PagedList.IPagedList<MVCApp.Data.Models.UserData>
@using PagedList.Mvc;
@*<link href="~/MissingPeople/Index/Content/PagedList.css" rel="stylesheet" type="text/css" />*@

@{
    ViewBag.Title = "List of user roles";
}

<h2>List of user roles</h2>

@using (Html.BeginForm("Index", "Role", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("searchStr", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<div class="panel-heading">
    <tr>
        Sort by:
        <th>
            @Html.ActionLink("User name", "Index", new { sortOrder = ViewBag.NSortParm })
        </th>
        <th>
            @Html.ActionLink("E-mail", "Index", new { sortOrder = ViewBag.LSortParm })
        </th>
    </tr>
</div>

@foreach (var item in Model)
{
    @Html.Partial("_RoleSummary", item)
}

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

