﻿@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<h2>This is place where you can store info about missing poeple. You can find, sort and add new people who are missing.</h2>
